[Unit]
Description=sapyn.tk

[Service]
WorkingDirectory=/var/www/java/springBootPD817/target
ExecStart=/usr/bin/java -jar bandura.jar --server.port=8084
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=dotnet-example
User=root
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target